bounds:
  dend.g_pas slope: !!python/tuple
  - 1.0E-9
  - 5.0E-5
  dend.g_pas tau: !!python/tuple
  - 25.
  - 400.
  soma.g_pas: !!python/tuple
  - 1.0E-12
  - 1.0E-7
  e_pas: !!python/tuple
  - -77.0
  - -65.0
  ais.gbar_nax: !!python/tuple
  - 0.02
  - 0.5
  ais.gkmbar: !!python/tuple
  - 0.0005
  - 0.015
  ais.sha_nax: !!python/tuple
  - -5.0
  - -1.0
  axon.gbar_nax: !!python/tuple
  - 0.02
  - 0.1
  axon.gkabar: !!python/tuple
  - 0.01
  - 0.18
  dend.gbar_nas: !!python/tuple
  - 0.01
  - 0.05
  dend.gbar_nas min: !!python/tuple
  - 0.0
  - 0.05
  dend.gkabar: !!python/tuple
  - 0.01
  - 0.25
  soma.gCa factor: !!python/tuple
  - 0.01
  - 2.0
  soma.gCadepK factor: !!python/tuple
  - 0.0005
  - 2.0
  soma.gbar_nas: !!python/tuple
  - 0.01
  - 0.05
  soma.gkabar: !!python/tuple
  - 0.01
  - 0.05
  soma.gkdrbar: !!python/tuple
  - 0.0005
  - 0.06
  axon.gkdrbar: !!python/tuple
  - 0.0005
  - 0.06
  soma.gkmbar: !!python/tuple
  - 0.0005
  - 0.005
  soma.sh_nas/x: !!python/tuple
  - 0.1
  - 6.0
  dend.sh_nas: !!python/tuple
  - 0.
  - 6.0
  soma.tau_Cacum: !!python/tuple
  - 9.
  - 50.
default_params:
rel_bounds:
- - dend.gbar_nas
  - '<='
  - 1.0
  - soma.gbar_nas
- - dend.gbar_nas min
  - '<='
  - 1.0
  - dend.gbar_nas
- - axon.gbar_nax
  - '>'
  - 1.0
  - soma.gbar_nas
- - ais.gbar_nax
  - '>'
  - 2.0
  - axon.gbar_nax
- - dend.gkabar
  - '>'
  - 1.0
  - soma.gkabar
- - axon.gkabar
  - <
  - 3.0
  - soma.gkabar
- - axon.gkdrbar
  - <
  - 3.0
  - soma.gkdrbar
feature_names:
- dend R_inp
- term_dend R_inp
- soma R_inp
- soma vm_rest
- vm_th
- ADP
- fAHP
- mAHP
- rebound_firing
- vm_stability
- ais_delay
- slow_depo
- dend_bAP_ratio
- rheobase
- soma_spike_amp
- f_I_slope
- dend_spike_amp
- iEPSP_i_unit
- iEPSP_attenuation_short
- iEPSP_attenuation_long
update_context:
- - optimize_DG_GC_leak
  - reset_biophysics
- - optimize_DG_GC_leak
  - update_mechanisms_leak
- - optimize_DG_GC_spiking
  - update_mechanisms_spiking
get_features_stages:
- source: optimize_DG_GC_leak
  get_args_static: get_args_static_leak
  compute_features: compute_features_leak
- source: optimize_DG_GC_spiking
  get_args_dynamic: get_args_dynamic_i_holding
  compute_features: compute_features_spike_shape
- source: optimize_DG_GC_spiking
  get_args_dynamic: get_args_dynamic_fI
  compute_features: compute_features_fI
  filter_features: filter_features_fI
- source: optimize_DG_GC_spiking
  get_args_dynamic: get_args_dynamic_dend_spike
  compute_features: compute_features_dend_spike
  filter_features: filter_features_dend_spike
- source: optimize_DG_GC_iEPSP_propagation
  get_args_dynamic: get_args_dynamic_i_holding
  compute_features: compute_features_iEPSP_i_unit
- source: optimize_DG_GC_iEPSP_propagation
  get_args_dynamic: get_args_dynamic_iEPSP_attenuation
  compute_features: compute_features_iEPSP_attenuation
get_objectives:
  optimize_DG_GC_leak: get_objectives_leak
  optimize_DG_GC_spiking: get_objectives_spiking
  optimize_DG_GC_iEPSP_propagation: get_objectives_iEPSP_propagation
kwargs:
  mech_file_path: mechanisms/20180605_DG_GC_excitability_mech.yaml
  gid: 0
  cell_type: GC
  correct_for_spines: True
  verbose: 2
  daspk: False
  configFile: ../dentate/config/Small_Scale_Control_log_normal_weights.yaml
  templatePaths: ../DGC/Mateos-Aparicio2014:../dentate/templates
  hoclibPath: ../dentate
  # datasetPrefix: /mnt/s
  # datasetPrefix: ../dentate/datasets
  datasetPrefix: /oasis/scratch/comet/aaronmil/temp_project/dentate  
  # resultsPath: data
  resultsPath: /oasis/scratch/comet/aaronmil/temp_project/optimize_cells
objective_names:
- dend R_inp
- term_dend R_inp
- soma R_inp
- soma vm_rest
- vm_th
- ADP
- fAHP
- mAHP
- rebound_firing
- vm_stability
- ais_delay
- slow_depo
- dend_bAP_ratio
- soma_spike_amp
# - th_count
- adi_residuals
- f_I_residuals
- dend_spike_score
- iEPSP_attenuation_short
- iEPSP_attenuation_long
optimization_title: DG_GC_excitability
param_gen: PopulationAnnealing
param_names:
- dend.g_pas slope
- dend.g_pas tau
- soma.g_pas
- e_pas
- soma.gbar_nas
- dend.gbar_nas
- dend.gbar_nas min
- axon.gbar_nax
- ais.gbar_nax
- soma.gkabar
- dend.gkabar
- soma.gkdrbar
- axon.gkabar
- axon.gkdrbar
- soma.sh_nas/x
- ais.sha_nax
- soma.gCa factor
- soma.gCadepK factor
- soma.gkmbar
- ais.gkmbar
- soma.tau_Cacum
target_range:
  dend R_inp: 1.
  soma R_inp: 0.5
  soma vm_rest: 0.1
  ADP: 0.05
  fAHP: 0.07
  mAHP: 0.05
  ais_delay: 0.0005
  dend_bAP_ratio: 0.0002
  rebound_firing: 0.002
  soma_spike_amp: 2.0
  th_count: 0.002
  vm_th: 0.01
  vm_stability: 0.1
  dend_spike_amp: 0.1
  spike_rate: 0.1
target_val:
  dend R_inp: 375.
  soma R_inp: 295.
  soma vm_rest: -77.0
  ADP: 5.0
  fAHP: 7.5
  mAHP: 5.
  ais_delay: 0.0
  dend_bAP_ratio: 0.3
  rebound_firing: 0
  slow_depo: 5.0
  soma_spike_amp: 90.0
  th_count: 1
  vm_th: -48.0
  vm_stability: 5.0
  f_I_slope: 58.0
  dend_spike_amp: 15.
  iEPSP_unit_amp: 1.
  iEPSP_attenuation_short: 0.17
  iEPSP_attenuation_long: 0.23
x0:
  soma.gCa factor: 4.282660E-02
  soma.tau_Cacum: 3.724583E+01
  dend.g_pas tau: 1.281929E+02
  dend.g_pas slope: 4.279732E-06
  axon.gkabar: 9.384117E-02
  soma.gkmbar: 4.544747E-03
  dend.gbar_nas min: 7.825364E-03
  ais.sha_nax: -3.647254E+00
  soma.gkdrbar: 1.550624E-03
  soma.sh_nas/x: 5.824188E+00
  ais.gkmbar: 9.328804E-03
  dend.gkabar: 2.417519E-01
  ais.gbar_nax: 1.987367E-01
  soma.g_pas: 2.315358E-08
  dend.gbar_nas: 4.067298E-02
  axon.gbar_nax: 5.955782E-02
  soma.gbar_nas: 4.231149E-02
  soma.gCadepK factor: 5.294669E-01
  axon.gkdrbar: 1.641549E-03
  soma.gkabar: 4.574317E-02
  e_pas: -77.0
