bounds:
  soma.g_pas:
  - 1.0E-12
  - 1.0E-7
feature_names:
- i_EPSC
update_context:
- source: optimize_DG_GC_iEPSP_propagation
  function: reset_biophysics
stages:
- source: optimize_DG_GC_iEPSP_propagation
  get_args_dynamic: get_args_dynamic_i_EPSC
  compute_features: compute_features_iEPSP_i_unit
- source: optimize_DG_GC_iEPSP_propagation
  get_args_dynamic: get_args_dynamic_iEPSP_unit
  compute_features: compute_features_iEPSP_i_unit
  filter_features: filter_features_iEPSP_attenuation
  get_objectives: get_objectives_iEPSP_attenuation
kwargs:
  mech_file_path: mechanisms/20181205_DG_GC_excitability_mech.yaml
  max_i_EPSP_attenuation_distance: 300.
  gid: 0
  cell_type: GC
  correct_for_spines: True
  verbose: 2
  daspk: False
  config_file: Small_Scale_Control_tune_GC_synapses.yaml  # Small_Scale_Control_LN_weights_Sat.yaml
  template_paths: ../DGC/Mateos-Aparicio2014:../dentate/templates
  hoc_lib_path: ../dentate
  config_prefix: ../dentate/config
  dataset_prefix: ../dentate/datasets
  results_path: data
objective_names:
- iEPSP_attenuation_residual
optimization_title: DG_GC_iEPSP_propagation
target_range:
  iEPSP_attenuation: 0.001
target_val:
  iEPSP_unit_amp: 1.
x0:
  soma.g_pas: 1.050E-10
