bounds:
  dend.g_pas slope: !!python/tuple
  - 1.0E-9
  - 5.0E-5
  dend.g_pas tau: !!python/tuple
  - 25.
  - 400.
  soma.g_pas: !!python/tuple
  - 1.0E-12
  - 1.0E-7
  ais.gbar_nax: !!python/tuple
  - 0.02
  - 0.5
  ais.gkmbar: !!python/tuple
  - 0.0005
  - 0.015
  ais.sha_nax: !!python/tuple
  - -5.0
  - -1.0
  axon.gbar_nax: !!python/tuple
  - 0.02
  - 0.1
  axon.gkabar: !!python/tuple
  - 0.01
  - 0.18
  dend.gbar_nas: !!python/tuple
  - 0.01
  - 0.05
  dend.gbar_nas min: !!python/tuple
  - 0.0
  - 0.05
  dend.gkabar: !!python/tuple
  - 0.01
  - 0.25
  soma.gCa factor: !!python/tuple
  - 0.01
  - 2.0
  soma.gCadepK factor: !!python/tuple
  - 0.0005
  - 2.0
  soma.gbar_nas: !!python/tuple
  - 0.01
  - 0.05
  soma.gkabar: !!python/tuple
  - 0.01
  - 0.05
  soma.gkdrbar: !!python/tuple
  - 0.0005
  - 0.06
  axon.gkdrbar: !!python/tuple
  - 0.0005
  - 0.06
  soma.gkmbar: !!python/tuple
  - 0.0005
  - 0.005
  soma.sh_nas/x: !!python/tuple
  - 0.1
  - 6.0
  dend.sh_nas: !!python/tuple
  - 0.
  - 6.0
  soma.tau_Cacum: !!python/tuple
  - 9.
  - 50.
default_params:
rel_bounds:
- - dend.gbar_nas
  - '<='
  - 1.0
  - soma.gbar_nas
- - dend.gbar_nas min
  - '<='
  - 1.0
  - dend.gbar_nas
- - axon.gbar_nax
  - '>'
  - 1.0
  - soma.gbar_nas
- - ais.gbar_nax
  - '>'
  - 2.0
  - axon.gbar_nax
- - dend.gkabar
  - '>'
  - 1.0
  - soma.gkabar
- - axon.gkabar
  - <
  - 3.0
  - soma.gkabar
- - axon.gkdrbar
  - <
  - 3.0
  - soma.gkdrbar
- - ais.gkmbar
  - >=
  - 1.0
  - soma.gkmbar
feature_names:
- vm_th
- ADP
- fAHP
- mAHP
- rebound_firing
- vm_stability
- ais_delay
- slow_depo
- dend_bAP_ratio
- rheobase
- soma_spike_amp
- f_I_log10_slope
- dend_spike_amp
update_context:
- - optimize_DG_GC_spiking
  - reset_biophysics
- - optimize_DG_GC_spiking
  - update_mechanisms_spiking
get_features_stages:
- source: optimize_DG_GC_spiking
  get_args_dynamic: get_args_dynamic_i_holding
  compute_features: compute_features_spike_shape
- source: optimize_DG_GC_spiking
  get_args_dynamic: get_args_dynamic_fI
  compute_features: compute_features_fI
  filter_features: filter_features_fI
- source: optimize_DG_GC_spiking
  get_args_dynamic: get_args_dynamic_spike_adaptation
  compute_features: compute_features_spike_adaptation
  filter_features: filter_features_spike_adaptation
- source: optimize_DG_GC_spiking
  get_args_dynamic: get_args_dynamic_dend_spike
  compute_features: compute_features_dend_spike
  filter_features: filter_features_dend_spike
get_objectives:
    optimize_DG_GC_spiking: get_objectives_spiking
kwargs:
  mech_file_path: mechanisms/20180720_DG_GC_excitability_mech.yaml
  gid: 0
  cell_type: GC
  correct_for_spines: True
  verbose: 2
  daspk: False
  configFile: Small_Scale_Control_LN_weights.yaml
  templatePaths: ../DGC/Mateos-Aparicio2014:../dentate/templates
  hoclibPath: ../dentate
  configPrefix: ../dentate/config
  datasetPrefix: ../dentate/datasets
  resultsPath: data
objective_names:
- vm_th
- ADP
- fAHP
- mAHP
- rebound_firing
- vm_stability
- ais_delay
- slow_depo
- dend_bAP_ratio
- soma_spike_amp
- spike_adaptation_residuals
- f_I_residuals
- dend_spike_score
optimization_title: DG_GC_spiking
param_gen: PopulationAnnealing
param_names:
- soma.gbar_nas
- dend.gbar_nas
- dend.gbar_nas min
- axon.gbar_nax
- ais.gbar_nax
- soma.gkabar
- dend.gkabar
- soma.gkdrbar
- axon.gkabar
- axon.gkdrbar
- soma.sh_nas/x
- ais.sha_nax
- soma.gCa factor
- soma.gCadepK factor
- soma.gkmbar
- ais.gkmbar
- soma.tau_Cacum
target_range:
  dend R_inp: 1.
  soma R_inp: 0.5
  ADP: 0.05
  fAHP: 0.07
  mAHP: 0.05
  ais_delay: 0.0005
  dend_bAP_ratio: 0.0002
  rebound_firing: 0.002
  soma_spike_amp: 2.0
  vm_th: 0.01
  vm_stability: 0.1
  dend_spike_amp: 0.1
  spike_rate: 0.1
target_val:
  dend R_inp: 375.
  soma R_inp: 295.
  ADP: 5.0
  fAHP: 7.5
  mAHP: 5.
  ais_delay: 0.0
  dend_bAP_ratio: 0.3
  rebound_firing: 0
  slow_depo: 5.0
  soma_spike_amp: 90.0
  vm_th: -48.0
  vm_stability: 5.0
  dend_spike_amp: 15.
x0:
  soma.gCa factor: 2.674000E-02
  soma.tau_Cacum: 4.070072E+01
  dend.gbar_nas min: 1.307792E-02
  dend.g_pas slope: 3.445070E-05
  axon.gkabar: 1.319983E-01
  soma.gkmbar: 4.509615E-03
  dend.g_pas tau: 8.462166E+01
  ais.sha_nax: -2.916213E+00
  soma.gkdrbar: 9.680493E-04
  soma.sh_nas/x: 5.344927E+00
  ais.gkmbar: 6.371662E-03
  dend.gkabar: 2.394512E-01
  ais.gbar_nax: 2.257536E-01
  e_pas: -7.498501E+01
  soma.g_pas: 3.474107E-08
  dend.gbar_nas: 4.299971E-02
  axon.gbar_nax: 4.895389E-02
  soma.gbar_nas: 4.841435E-02
  soma.gCadepK factor: 1.074359E+00
  axon.gkdrbar: 1.775097E-03
  soma.gkabar: 4.681549E-02
