bounds:
  EE_connection_prob: !!python/tuple
  - 1.0E-4
  - .8
  EI_connection_prob: !!python/tuple
  - 1.0E-4
  - .8
  IE_connection_prob: !!python/tuple
  - 1.0E-4
  - .8
  II_connection_prob: !!python/tuple
  - 1.0E-4
  - .8
  FF2E_connection_weight: !!python/tuple
  - 0.
  - .5
  FF2I_connection_weight: !!python/tuple
  - 0.
  - .5
  EE_connection_weight: !!python/tuple
  - 0.
  - 5.
  EI_connection_weight: !!python/tuple
  - 0.
  - 5.
  II_connection_weight: !!python/tuple
  - 0.
  - 5.
  IE_connection_weight: !!python/tuple
  - 0.
  - 5.
  FF_mean_freq: !!python/tuple
  - .15
  - 200.
  FF_frac_active: !!python/tuple
  - 0.
  - 1.
  FF2I_connection_probability: !!python/tuple
  - 0.
  - 1.
  FF2E_connection_probability: !!python/tuple
  - 0.
  - 1.
  FF2E_weights_sigma_factor: !!python/tuple
  - 0.
  - 1.
  FF2I_weights_sigma_factor: !!python/tuple
  - 0.
  - 1.
  EI_weights_sigma_factor: !!python/tuple
  - 0.
  - 1.
  EE_weights_sigma_factor: !!python/tuple
  - 0.
  - 1.
  IE_weights_sigma_factor: !!python/tuple
  - 0.
  - 1.
  II_weights_sigma_factor: !!python/tuple
  - 0.
  - 1.
  tau_E: !!python/tuple
  - 1.
  - 8.
  tau_I: !!python/tuple
  - 2.
  - 10.  
feature_names:
- E_peak_rate
- I_peak_rate
- E_mean_rate
- I_mean_rate
- E_frac_active
- I_frac_active
- theta_E_envelope_ratio
- theta_I_envelope_ratio
- gamma_E_envelope_ratio
- gamma_I_envelope_ratio
- peak_theta_osc_E
- peak_theta_osc_I
update_context:
- - optimize_random_network
  - update_context
get_features_stages:
- source: optimize_random_network
  compute_features: compute_features
get_objectives:
  optimize_random_network: get_objectives
kwargs:
  verbose: True
  connection_seed: 0
  spikes_seed: 1000000
objective_names:
- E_peak_rate
- I_peak_rate
- E_mean_rate
- I_mean_rate
- E_frac_active
- I_frac_active
- theta_E_envelope_ratio
- theta_I_envelope_ratio
- gamma_E_envelope_ratio
- gamma_I_envelope_ratio
- peak_theta_osc_E
- peak_theta_osc_I
optimization_title: random_network
param_gen: PopulationAnnealing
param_names:
- EE_connection_prob
- EI_connection_prob
- II_connection_prob
- IE_connection_prob
- FF2I_connection_weight
- FF2E_connection_weight
- EE_connection_weight
- EI_connection_weight
- II_connection_weight
- IE_connection_weight
- FF_mean_freq
- FF_frac_active
- FF2I_connection_probability
- FF2E_connection_probability
- FF2E_weights_sigma_factor
- FF2I_weights_sigma_factor
- EI_weights_sigma_factor
- EE_weights_sigma_factor
- IE_weights_sigma_factor
- II_weights_sigma_factor
- tau_E
- tau_I
target_range:
  E_peak_rate: 5.
  I_peak_rate: 7.
  E_mean_rate: 3.
  I_mean_rate: 5.
  E_frac_active: .2
  I_frac_active: .2
  theta_E_envelope_ratio: .2
  theta_I_envelope_ratio: .2
  gamma_E_envelope_ratio: .2
  gamma_I_envelope_ratio: .2
  peak_theta_osc_E: 2.5
  peak_theta_osc_I: 2.5
target_val:
  E_peak_rate: 30.
  I_peak_rate: 40.
  E_mean_rate: 10.
  I_mean_rate: 30.
  E_frac_active: .1
  I_frac_active: .9
  theta_E_envelope_ratio: .5
  theta_I_envelope_ratio: .5
  gamma_E_envelope_ratio: .5
  gamma_I_envelope_ratio: .5
  peak_theta_osc_E: 8.
  peak_theta_osc_I: 8.
x0:
  EE_connection_prob: 0.8
  EI_connection_prob: 0.1
  IE_connection_prob: 0.1
  II_connection_prob: 0.1
  FF2I_connection_weight: .02
  FF2E_connection_weight: .02
  EE_connection_weight: 2.
  EI_connection_weight: 2.
  IE_connection_weight: .2
  II_connection_weight: .5
  FF_mean_freq: 20
  FF_frac_active: .8
  FF2I_connection_probability: .5
  FF2E_connection_probability: .5
  FF2E_weights_sigma_factor: .1
  FF2I_weights_sigma_factor: .1
  EI_weights_sigma_factor: .1
  EE_weights_sigma_factor: .1
  IE_weights_sigma_factor: .1
  II_weights_sigma_factor: .1
  tau_E: 2.
  tau_I: 5.
