bounds:
  dend.g_pas slope:
  - 1.0E-9
  - 1.0E-4
  dend.g_pas tau:
  - 25.
  - 400.
  soma.g_pas:
  - 1.0E-12
  - 1.0E-7
  e_pas:
  - -77.0
  - -70.0
  ais.gbar_nax:
  - 0.02
  - 0.5
  ais.gkmbar:
  - 0.00005
  - 0.05
  ais.sha_nax:
  - -6.0
  - -1.0
  axon.gbar_nax:
  - 0.02
  - 0.1
  axon.gkabar:
  - 0.001
  - 0.05
  dend.gbar_nas:
  - 0.01
  - 0.05
  dend.gbar_nas min:
  - 0.0
  - 0.05
  dend.gkabar:
  - 0.001
  - 0.25
  soma.gCa factor:
  - 0.005
  - 2.0
  soma.gCadepK factor:
  - 0.0005
  - 10.
  soma.gbar_nas:
  - 0.01
  - 0.05
  soma.gkabar:
  - 0.005
  - 0.075
  soma.gkdrbar:
  - 0.001
  - 0.075
  axon.gkdrbar:
  - 0.001
  - 0.075
  dend.gkdrbar:
  - 0.0005
  - 0.01
  soma.sh_nas/x:
  - 1.0
  - 8.0
  soma.tau_Cacum:
  - 9.
  - 100.
default_params:
rel_bounds:
- - dend.gbar_nas
  - '<='
  - 1.0
  - soma.gbar_nas
- - dend.gbar_nas min
  - '<='
  - 1.0
  - dend.gbar_nas
- - axon.gbar_nax
  - '>'
  - 1.0
  - soma.gbar_nas
- - ais.gbar_nax
  - '>'
  - 2.0
  - axon.gbar_nax
- - dend.gkabar
  - '>'
  - 1.0
  - soma.gkabar
- - axon.gkabar
  - '<'
  - 1.0
  - soma.gkabar
- - axon.gkdrbar
  - '>='
  - 1.0
  - soma.gkdrbar
- - dend.gkdrbar
  - '<'
  - 1.0
  - soma.gkdrbar
feature_names:
- dend R_inp
- term_dend R_inp
- soma R_inp
- soma vm_rest
- vm_th
- ADP
- fAHP
- mAHP
- rebound_firing
- vm_stability
- ais_delay
- slow_depo
- dend_bAP_ratio
- rheobase
- soma_spike_amp
- f_I_slope
- dend_spike_amp
- spike_detector_delay
update_context:
- source: optimize_DG_GC_leak
  function: reset_biophysics
- source: optimize_DG_GC_leak
  function: update_mechanisms_leak
- source: optimize_DG_GC_spiking
  function: update_mechanisms_spiking
stages:
- source: optimize_DG_GC_leak
  get_args_static: get_args_static_leak
  compute_features: compute_features_leak
  get_objectives: get_objectives_leak
- source: optimize_DG_GC_spiking
  get_args_dynamic: get_args_dynamic_i_holding
  compute_features: compute_features_spike_shape
- source: optimize_DG_GC_spiking
  get_args_dynamic: get_args_dynamic_fI
  compute_features: compute_features_fI
  filter_features: filter_features_fI
- source: optimize_DG_GC_spiking
  get_args_dynamic: get_args_dynamic_spike_adaptation
  compute_features: compute_features_spike_adaptation
- source: optimize_DG_GC_spiking
  get_args_dynamic: get_args_dynamic_dend_spike
  compute_features: compute_features_dend_spike
  filter_features: filter_features_dend_spike
  get_objectives: get_objectives_spiking
kwargs:
  mech_file_path: mechanisms/20181205_DG_GC_excitability_mech.yaml
  gid: 0
  cell_type: GC
  correct_for_spines: True
  verbose: 2
  daspk: False
  config: Small_Scale_Control_tune_GC_synapses.yaml
  template_paths: ../DGC/Mateos-Aparicio2014:../dentate/templates
  hoc_lib_path: ../dentate
  config_prefix: ../dentate/config
  dataset_prefix: ../dentate/datasets
  results_path: data
objective_names:
- dend R_inp
- term_dend R_inp
- soma R_inp
- soma vm_rest
- vm_th
- ADP
- fAHP
- rebound_firing
- vm_stability
- ais_delay
- slow_depo
- dend_bAP_ratio
- spike_adaptation_residuals
- f_I_residuals
- dend_spike_score
optimization_title: DG_GC_leak_spiking
target_range:
  dend R_inp: 1.
  soma R_inp: 0.5
  soma vm_rest: 0.1
  ADP: 0.05
  fAHP: 0.07
  ais_delay: 0.0005
  dend_bAP_ratio: 0.0002
  rebound_firing: 0.002
  vm_th: 0.01
  vm_stability: 0.1
  dend_spike_amp: 0.1
target_val:
  term_dend R_inp: 1000.
  dend R_inp: 275.
  soma R_inp: 295.
  soma vm_rest: -77.0
  min_ADP: 1.
  max_ADP: 10.
  min_fAHP: 3.0
  max_fAHP: 15.
  ais_delay: 0.0
  dend_bAP_ratio: 0.5  # At ~100 uM from soma
  rebound_firing: 0
  slow_depo: 5.0
  vm_th: -48.0
  vm_stability: 5.0
  dend_spike_amp: 15.
x0:
  soma.gCa factor: 3.386286E-01
  soma.tau_Cacum: 5.783834E+01
  dend.gbar_nas min: 2.316494E-02
  soma.gkdrbar: 4.012674E-02
  soma.g_pas: 2.362825E-08
  axon.gkabar: 1.229288E-02
  soma.gkabar: 1.787941E-02
  dend.gbar_nas: 3.650910E-02
  ais.sha_nax: -3.882716E+00
  axon.gkdrbar: 5.814910E-02
  soma.sh_nas/x: 6.443239E+00
  dend.gkabar: 1.555928E-01
  ais.gbar_nax: 1.993188E-01
  dend.gkdrbar: 7.635090E-03
  dend.g_pas slope: 3.829971E-05
  dend.g_pas tau: 3.053399E+02
  axon.gbar_nax: 6.364521E-02
  soma.gbar_nas: 3.925494E-02
  soma.gCadepK factor: 8.701312E+00
  ais.gkmbar: 1.305485E-02
  e_pas: -7.444863E+01
