bounds:
  soma.g_pas: !!python/tuple
  - 1.0E-12
  - 1.0E-7
feature_names:
- iEPSP_i_unit
- iEPSP_attenuation_short
- iEPSP_attenuation_long
update_context:
- - optimize_DG_GC_iEPSP_propagation
  - reset_biophysics
get_features_stages:
- source: optimize_DG_GC_iEPSP_propagation
  get_args_dynamic: get_args_dynamic_i_holding
  compute_features: compute_features_iEPSP_i_unit
- source: optimize_DG_GC_iEPSP_propagation
  get_args_dynamic: get_args_dynamic_iEPSP_attenuation
  compute_features: compute_features_iEPSP_attenuation
get_objectives:
  optimize_DG_GC_iEPSP_propagation: get_objectives_iEPSP_propagation
kwargs:
  mech_file_path: mechanisms/20181205_DG_GC_excitability_mech.yaml
  gid: 0
  cell_type: GC
  correct_for_spines: True
  verbose: 2
  daspk: False
  config_file: Small_Scale_Control_tune_GC_synapses.yaml  # Small_Scale_Control_LN_weights_Sat.yaml
  template_paths: ../DGC/Mateos-Aparicio2014:../dentate/templates
  hoc_lib_path: ../dentate
  config_prefix: ../dentate/config
  dataset_prefix: ../dentate/datasets
  results_path: data
objective_names:
- iEPSP_attenuation_short
- iEPSP_attenuation_long
optimization_title: DG_GC_iEPSP_propagation
param_gen: PopulationAnnealing
param_names:
- soma.g_pas
target_range:
target_val:
  iEPSP_unit_amp: 1.
  iEPSP_attenuation_short: 0.17
  iEPSP_attenuation_long: 0.23
x0:
  soma.g_pas: 1.050E-10